body{
    background-color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
}

.Principal fieldset{
    background-color: antiquewhite;
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    border: none;
}
.inicio{
    margin-top: 250px;
    text-align: center;
}

.inicio h1{
    font-weight: solid;
}

.inicio label{
    margin-right: 50px;
    margin-left: -100px;
    font-weight: bold;
}

.inicio input{
    text-align: center;
    width: 250px;
    border-radius: 8px;
    padding: 10px 20px;
}

.inicio button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(235, 208, 172);
    color: black;
    font-weight: bold;
}

.inicio input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}